.post>a.segment{
    color: inherit;
    display: block;
}

#content{
    position: relative;
    top: 3.5em;
    padding: 2em;
}

.clear{
    clear: both;
}

#hamburger{
    display: none;
}

#link-menu{
    display: flex;
}

#sidebar{
    top: 3.5em;
}

/* HIDE RADIO */
#avatar-choice input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
#avatar-choice input[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
#avatar-choice input[type=radio]:checked + img {
  outline: 2px solid #0E6EB8;
}

@media only screen and (max-width: 720px){

    #sandwich {
        display: flex;
    }

    #link-menu{
        display: none;
    }


    #search-menu form{
        width: 0;
    }

    #search-menu:hover form{
        width: initial;
    }

}