{% extends 'blog/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="ui text container">
        <form method="post" class="ui form segment">
            {% csrf_token %}
            {% include 'blog/form_field.html' with field=form.old_password icon='lock icon'%}
            {% include 'blog/form_field.html' with field=form.new_password1 icon='lock icon' %}
            {% include 'blog/form_field.html' with field=form.new_password2 icon='lock icon' %}
            {% include 'blog/form_errors.html' %}
            <input class="ui basic blue button" type="submit" value="Change password">
        </form>
    </div>
{% endblock %}
