{% extends 'accounts/base.html' %}
{% block title %}Log in{% endblock %}

{% block content %}

    <div class="ui huge header">
        <i class="user circle outline icon"></i>
        <div class="content">Log in</div>
    </div>
    <form method="post" class="ui form">
        <div class="ui segment">
            {% csrf_token %}
            {% include 'blog/form_field.html' with field=form.username icon='user icon' %}
            {% include 'blog/form_field.html' with field=form.password icon='lock icon' %}
            {% include 'blog/form_errors.html' %}
            <input class="ui large fluid blue button" type="submit" value="Log in">
        </div>
    </form>
    <div class="ui center aligned message">
        Don't have account?
        <a href="{% url 'accounts:register' %}" >Sign up</a>
    </div>

{% endblock %}