<div class="markdownx">
    <div class="ui top attached tabular menu" id="markdown-tabs">
        <div class="active item" data-tab="markdown">Markdown</div>
        <div class="item" data-tab="preview">Preview</div>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="markdown">
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="preview">
        <div class="markdownx-preview ui segment"></div>
    </div>
</div>
<script>
    $('#markdown-tabs .item').tab();
</script>
