{% extends 'blog/base.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% load utils %}
{% block content %}
    <div class="ui text container segments">
        <div class="ui segment">
            <h1 class="ui header">
                <a href="{% url 'blog:post_delete' object.pk %}" class="right floated ui red basic button">
                    <i class="trash alternate outline icon"></i>
                    Delete
                </a>
                <a href="{% url 'blog:post_edit' object.pk %}" class="right floated ui basic button">
                    <i class="pencil alternate icon"></i>
                    Edit
                </a>
                <span>{{ object.title }}</span>
                <span class="sub header">{{ object.summary }}</span>
            </h1>
        </div>
        <div class="ui basic segment">
            {% for tag in post.tags.all %}
                <a href="#" class="ui label">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="ui segment">
            {{ object.content| markdown }}
        </div>
        <div class="ui tertiary segment equal width grid">
            <div class="column">
                <i class="user outline icon"></i>
                {{ post.author.username }}
            </div>
            <div class="right aligned column">
                <i class="calendar alternate outline icon"></i>
                {{ post.date_created|timesince }} ago
            </div>
        </div>
        <div class="ui secondary segment">
            <h3 class="header">
                {{ post.comment_set.all|length }} comments
            </h3>
            {% if request.user.is_authenticated %}
                <form action="{% url 'blog:post_comment_new' post.pk %}" method="post" class="ui reply form">
                    {% csrf_token %}
                    <div class="field">
                        <label for="comment-area"></label>
                        <textarea name="comment" id="comment-area" rows="3"></textarea>
                    </div>
                    <div class="ui field">
                        <button type="submit" class="ui button">
                            <i class="edit icon"></i>
                            Post comment
                        </button>
                    </div>
                    <div class="clear"></div>
                </form>
            {% endif %}
            <div class="ui comments">
                {% for comment in post.comment_set.all %}
                    {% include 'blog/post_comment.html' with comment=comment %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $('.reply').click(function (e) {
            var comment_id = e.target.id.replace('reply-', '');
            console.log(e);
            console.log(comment_id);
            console.log('#reply-form-'+comment_id);
            console.log($('#reply-form-' + comment_id));
            if ($(e.target).hasClass("active")){
                $(e.target).removeClass("active");
            } else {
                $(e.target).addClass("active");
            }
            $('#reply-form-'+comment_id).slideToggle();
        });
    </script>
{% endblock %}