{% load avatar_tags %}
<div class="comment">
    <div class="avatar">
        {% avatar comment.author %}
    </div>
    <div class="content">
        <span class="author">
            {{ comment.author.username }}
        </span>
        <div class="metadata">
            <span class="date">{{ comment.date_created|timesince }}</span>
        </div>
        <div class="text">{{ comment.content }}</div>
        <div class="actions">
            <a id="reply-{{ comment.pk }}" class="reply">Reply</a>
            {% if user.is_authenticated and comment.author == user %}
                <a href="{% url 'blog:post_comment_delete' post.pk comment.pk %}" class="reply">Delete</a>
            {% endif %}
        </div>
        <form method="post" action="{% url 'blog:post_comment_reply' post.pk comment.pk  %}"
              id="reply-form-{{ comment.pk }}" class="ui reply form" hidden>
            {% csrf_token %}
            <div class="field">
                <label>
                    <textarea name="content"></textarea>
                </label>
            </div>
            <button class="ui basic submit button" type="submit">
                Add Reply
            </button>
        </form>
        {% if comment.replies.all|length %}
            <div class="comments">
            {% for reply in comment.replies.all %}
                {% include 'blog/post_comment.html' with post=post comment=reply %}
            {% endfor %}
            </div>
        {% endif %}

    </div>
</div>